<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="text-center mb-4">Available Quizzes</h1>
    
    <% if @quizzes.any? %>
      <div class="list-group">
        <% @quizzes.each do |quiz| %>
          <div class="list-group-item">
            <div class="d-flex justify-content-between align-items-start">
              <div>
                <h5 class="mb-1"><%= quiz.title %></h5>
                <% if quiz.description.present? %>
                  <p class="mb-1 text-muted"><%= quiz.description %></p>
                <% end %>
                <small class="text-muted">
                  <%= pluralize(quiz.questions.count, 'question') %>
                </small>
              </div>
              <div>
                <%= link_to 'Take Quiz', quiz_path(quiz), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-info text-center">
        <h4>No quizzes available</h4>
        <p>Check back later for new quizzes!</p>
      </div>
    <% end %>
  </div>
</div>
